*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }
   
   body{
       width: 100vw;
       height: 100vh;
       background-image: url("../imagen/s4.gif");
       background-repeat: no-repeat;
       background-size: cover;
   }

   .menu{
       width: 100%;
    background-color: paleturquoise;
    padding: 25px;
    display:flex;
    justify-content: center;
   }

   button{
    padding: 15px 10px;
    border-radius: 15px;
    background-color: transparent;
    width: 300px;
    height: 100px;
    color: rosybrown;
    font-size: 40px;
    border: 2px solid black;
    font-family: 'Playfair Display', serif;
   }

   button:hover{
        background-color: pink;
        animation: flip;
        animation-duration: 0.5s;
        border: 1px transparent;
   }