*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(" ../imagen/sakuraf.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.botones{
    margin: 15px;
}

button{
    padding: 30px;
    border-radius: 30px;
    width: 170px;
    background-color:transparent;
    color: black;
    font-size: 20px;
    border: 1px solid white;
}

.none{
    display:none !important;
}


button:hover{
    background-color:pink;
    animation: heartBeat;
        animation-duration: 2s;
}


.gameOver{
    width: 100vw;
    height: 100vh;
    background-image: url(" ../imagen/gameoverfinal.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content: center;
 
}

.gameOver button{
    color: green;
    border: transparent;
   
}

.gameOver button:hover{
    background-color: transparent;
    animation: zoomIn;
        animation-duration: 2s;
}


.ganaste{
    width: 100vw;
    height: 100vh;
    background-image: url(" ../imagen/ganaste1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content:center;
}

.ganaste button{
    background-color: blanchedalmond;
    color: red;
    border: 2px solid black;
   
}

.ganaste button:hover{
    background-color: transparent;
    animation: zoomIn;
        animation-duration: 2s;
      
}

.ganaste h1{
    background-color: chartreuse;
    font-size: 30px ;
}